.story-card{
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.story-card:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: inherit;
}