.project-card {
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.project-card p {
    color: var(--text-color);
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.project-card a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-title {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none; /* Quitar el subrayado del título */
}
