.taskListContainer {
    margin-top: 20px;
  }
  
  .taskListContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .loadingMessage,
  .taskListEmpty {
    text-align: center;
    color: #666;
    font-style: italic;
  }