.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #f4f5f7; /* Fondo gris claro */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #1f2937; /* Gris oscuro */
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #3182ce;
}

.card {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación */
}

.assigned, .tasks {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.loading-message {
    font-size: 1.4rem;
    color: #2b6cb0; /* Azul */
    text-align: center;
}
.lista{
    list-style: none;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .h1 {
        font-size: 2.2rem;
    }

    .card, .assigned, .tasks {
        padding: 1rem;
    }
}
