.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
  }
  
  .title {
    color: var(--header-text-color);
    font-size: 1.8rem;
    margin: 0;
    overflow: hidden; /* Para que no se salga si es demasiado largo */
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .menu-button {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .link{
    text-decoration: none;
  }