.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #023e8a;
    color: white;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que las secciones superior, central e inferior se mantengan en sus posiciones */
  }
  
  .open {
    left: 0;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #023e8a;
  }
  
  .brand {
    color: white;
    font-size: 1.8rem;
    margin: 0;
  }
  
  .button-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .middle-section {
    padding: 1rem 1.5rem;
  }
  
  .middle-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .middle-section ul li {
    margin-bottom: 1rem; /* Mantén el espaciado */
    font-size: 1.25rem; /* Agrandamos el tamaño de la letra de los elementos */
}
  
.bottom-section {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem; /* También agrandamos el tamaño de la letra del botón de configuración */
}
  
  