:root {
  --header-bg-color: #023e8a;
  --header-text-color: white;
  --header-link-hover: #ff6f61;
}

.layoutContainer {
  padding-top: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .content {
      padding: 1rem;
  }
}